/* Styling for Fridge2Food */

body { 
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(https://images.freeimages.com/images/large-previews/e0b/pepper-in-color-1057261.jpg) ;
    background-position: center center;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
    /*background-opacity: 0.2;*/

}

.h1 {
    block-size: auto;
}

.hero-body-padding

.fa-magnifying-glass {
    padding-left: 5px;
}

.card {
    margin-top: 8px;
    margin-bottom: 8px;
    text-align: center;
}
