/* Styling for Fridge2Food */

/* Variable declaration */
:root {

}

body { 
    /*background-opacity: 0.2;*/
    background-image: linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)), url(https://images.freeimages.com/images/large-previews/e0b/pepper-in-color-1057261.jpg) ;
    background-position: bottom 100px;
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:  cover;
    background-color: #999;
}

.h1 {
    block-size: auto;
}

#info {
    margin-bottom: 8px;
}
.input-form {
    margin-top: 8px;
}

.ingredient-input {
    padding: 7px;
}

.fa-magnifying-glass {
    padding-left: 8px;
}

.button {
    margin-left: 8px;
    margin-right: 8px;
}

.results {
    margin-bottom: 100px;
    padding: 64px;
}

.card {
    margin-top: 32px;
    margin-bottom: 8px;
    text-align: center;
}

.recipe-summary {
    margin-top: 8px;
    margin-bottom: 16px;
}

.watch-video {
    margin-top: 16px;
    margin-bottom: 16px;
}

.bottom-page {
    background-color: hsl(217, 71%, 53%);
    color: white;
    position: fixed;
    width: 100%;
    bottom: 0px;
}

.footer-nav {
    color: white;
}

@media screen and (max-width: 980px){
    .ingredient-input {
        text-align: center;
        margin: auto;
    }

    .search-btn {
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .random-btn {
        margin-top: 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer-nav {
        margin-left: 50px;
    }
}